rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // !!! MODO DESARROLLO !!!
    // Permite lectura y escritura a CUALQUIER usuario (incluso sin loguear)
    // Útil para evitar problemas de permisos durante el desarrollo.
    // REVERTIR A REGLAS SEGURAS ANTES DE PRODUCCIÓN.
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
